.Header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background: linear-gradient(90deg,  white 30%, #d2e7f4 100%);
    padding: 0 30px 0 30px;
}

.header-title {
    font-size: 24px;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    color: #0284ad;
}

.header-nav-box {
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
    color: #0284ad;
    font-weight: 700;
    cursor: pointer;
}

.header-nav-box:hover {
    background-color: #f2f8fa;
}