.NFTitem {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 12px;
    
    margin: 10px 0;
    cursor: pointer;
    font-weight: 500;
}

.NFTimages{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}